body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.container {
  max-width: 300px;
  margin: auto;
}

header {
  width: 100%;
  margin: auto;
  background-image: url(./images/gray-pathway-surrounded-by-green-tress-41102.jpg);
  background-size: cover;
  background-position: right bottom;
  color: white;
}

.socialMedia {
  display: flex;
  justify-content: flex-end;
  height: 90px;
  padding-top: 80px;
}

.socialMedia img,
.more-icons img {
  height: 20px;
  width: 20px;
}

.socialMedia div,
.more-icons div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: white 3px solid;
  border-radius: 50%;
  margin: 5px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  margin-top: 0;
  padding: 10px 50px;
  text-shadow: 0.2em 0.2em 0 rgba(0, 0, 0, 0.2);
}

.headerTitle h1 {
  margin-top: 0;
  font-size: 40px;
}

.headerTitle h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.headerContainer {
  display: inline-block;
  text-align: left;
}

.headerContainer img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  margin-bottom: -5px;
  margin-left: 120px;
  border-radius: 50%;
  border: white 3px solid;
}

.text {
  margin-top: -25px;
  padding: 50px 30px;
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 18px;
}

.text p {
  text-align: left;
}

.tech p {
  font-size: 18px;
}

h3 {
  display: inline-block;
  padding: 5px;
  background-color: lightblue;
  font-family: "Montserrat", sans-se;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}

.projects {
  padding: 30px;
  background-color: #f4f4f4;
  font-size: 18px;
  /* line-height: 29px; */
}

.projects-wrap {
  display: flex;
  flex-wrap: wrap;
}

.project-container {
  margin: 0;
  padding: 20px 5px;
  justify-content: space-between;
  width: 100%;
  height: auto;
  text-align: left;
  flex-grow: 1;
}

.project-container img {
  width: 100%;
  height: auto;
}

.project-container div,
.other-projects div {
  display: inline-block;
  padding: 0 5px;
  background-color: rgb(127, 235, 122);
  font-size: 16px;
  line-height: 24px;
}

/* .other-projects h4 {
  color: rgb(120, 79, 244);
} */

.other-projects a {
  text-decoration: none;
}
.p-name {
  color: blue;
}

.skills {
  background-color: #f4f4f4;
}

.skills-wrap {
  display: flex;
  justify-content: space-between;
  line-height: 29px;
  font-size: 18px;
  padding-bottom: 100px;
}

.tech {
  line-height: 40px;
  font-size: 18px;
  padding: 30px;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.more-wrap {
  padding: 30px;
  background-color: rgb(196, 196, 196);
}

.more-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  padding: 50px;
  background-color: rgb(196, 196, 196);
}

footer {
  background-color: rgb(189, 168, 252);
  padding: 30px;
  font-size: 18px;
}

footer h4 {
  font-size: 22px;
}

@media (min-width: 600px) {
}

@media (min-width: 1024px) {
  header {
    background-position: center bottom;
  }
  .container {
    max-width: 1088px;
  }

  .socialMedia {
    padding-top: 131px;
  }

  .socialMedia img,
  .more-icons img {
    height: 40px;
    width: 40px;
  }

  .socialMedia div,
  .more-icons div {
    height: 80px;
    width: 80px;
  }

  .headerTitle {
    margin-top: 50px;
    padding-bottom: 100px;
  }

  .headerTitle h1 {
    font-size: 82px;
  }
  .headerTitle h2 {
    font-size: 28px;
  }

  .headerContainer {
    display: flex;
  }

  .headerContainer img {
    height: 300px;
    width: 300px;
    align-self: flex-end;
    margin-bottom: -25px;
  }

  .text {
    padding: 100px;
    font-size: 24px;
  }

  .tech p {
    font-size: 24px;
  }

  h3 {
    padding: 10px;
    font-size: 26px;
  }

  .projects {
    padding: 100px;
    font-size: 20px;
  }

  .project-container {
    width: 40%;
    font-size: 20px;
  }

  .skills-wrap {
    line-height: 50px;
    font-size: 22px;
  }

  .more-wrap {
    padding: 50px;
  }

  footer {
    padding: 100px;
    font-size: 24px;
  }
}
