body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* HEADER */

.container {
  max-width: 300px;
  margin: auto;
}

header {
  width: 100%;
  margin: auto;
  background-image: url(./images/gray-pathway-surrounded-by-green-tress-41102.jpg);
  background-size: cover;
  background-position: right bottom;
  color: white;
}

.socialMedia {
  display: flex;
  justify-content: flex-end;
  height: 90px;
  padding-top: 60px;
}

.socialMedia img,
.more-icons img {
  height: 20px;
  width: 20px;
}

.socialMedia div,
.more-icons div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: white 3px solid;
  border-radius: 50%;
  margin: 5px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  margin-top: 0;
  padding: 10px;
  text-shadow: 0.2em 0.2em 0 rgba(0, 0, 0, 0.3);
}

.headerTitle h1 {
  margin-top: 0;
  font-size: 40px;
}

.headerTitle h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.headerContainer {
  display: inline-block;
  text-align: left;
}

.headerContainer img {
  height: 160px;
  width: 160px;
  object-fit: cover;
  margin-bottom: -5px;
  margin-left: 120px;
  border-radius: 50%;
  border: white 3px solid;
}

/* MIDDLE SECTION */

.text {
  margin-top: -25px;
  padding: 50px 30px;
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 18px;
}
.figure {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  height: 1em;
  margin-top: -4px;
}

.figure-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(185, 232, 247);
}

.figure-line {
  width: 20px;
  height: 3px;
  background: rgb(185, 232, 247);
}

.text p {
  text-align: left;
}

.tech p {
  font-size: 18px;
}

/* PROJECTS */

h3 {
  display: inline-block;
  padding: 5px;
  background-color: rgb(185, 232, 247);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}

.projects {
  padding: 30px;
  background-color: #f4f4f4;
  font-size: 18px;
}

.projects-wrap {
  display: flex;
  flex-wrap: wrap;
}

.project-container {
  margin: 0;
  padding: 20px 5px;
  justify-content: space-between;
  width: 100%;
  height: auto;
  text-align: left;
  flex-grow: 1;
}

.project-container img {
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: rgba(54, 139, 250, 0.988);
}
.project-container p,
.other-projects p {
  margin-bottom: 8px;
}

.project-container div,
.other-projects div {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 24px;
  background-color: rgba(127, 235, 122, 0.35);
  padding: 0 5px;
}
.other-projects {
  text-align: left;
}

.other-projects a,
.other-projects a:visited {
  text-decoration: none;
  color: rgba(54, 139, 250, 0.988);
}

.project-name {
  font-weight: 700;
}

/* THOUGHT OF CODE & SKILLS */

.articles {
  padding: 30px;
}

.articles p {
  font-size: 16px;
}

.skills {
  background-color: #f4f4f4;
}

.skills-wrap {
  display: flex;
  justify-content: space-between;
  line-height: 29px;
  font-size: 18px;
}

.tech {
  line-height: 40px;
  font-size: 18px;
  padding: 30px;
}

.skills ul {
  list-style: none;
  padding: 0;
}

/* MORE INFO & FOOTER */

.more-wrap {
  padding: 30px 0;
  background-color: rgb(196, 196, 196);
}
.more-wrap a,
.more-wrap a:visited {
  text-decoration: none;
  color: white;
}

.more-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  padding: 30px 10px;
  background-color: rgb(196, 196, 196);
}

footer {
  background-color: rgb(189, 168, 252);
  padding: 30px;
  font-size: 18px;
  /* text-shadow: 0.2em 0.2em 0 rgba(255, 255, 255, 0.1); */
}

footer h4 {
  font-size: 22px;
}

@media (min-width: 600px) {
  header {
    background-position: left bottom;
  }
  .container {
    max-width: 700px;
  }

  .socialMedia img,
  .more-icons img {
    height: 30px;
    width: 30px;
  }

  .socialMedia div,
  .more-icons div {
    height: 60px;
    width: 60px;
  }

  .headerTitle {
    margin-top: 50px;
    padding-bottom: 60px;
  }

  .headerTitle h1 {
    font-size: 64px;
  }
  .headerTitle h2 {
    font-size: 24px;
  }

  .headerContainer {
    display: flex;
  }

  .headerContainer img {
    height: 230px;
    width: 230px;
    align-self: flex-end;
    margin-bottom: -25px;
    margin-left: 10px;
  }

  .figure-line {
    width: 40px;
  }

  .text {
    padding: 60px;
    font-size: 22px;
  }

  .tech p {
    font-size: 24px;
  }

  h3 {
    padding: 10px;
    font-size: 26px;
  }

  .projects {
    padding: 30px 60px;
    font-size: 20px;
  }

  .project-container {
    width: 40%;
    font-size: 20px;
  }

  .project-container div,
  .other-projects div {
    padding: 3px 8px;
  }

  .articles {
    padding: 30px 60px;
  }

  .skills {
    padding: 30px 60px;
  }

  .skills-wrap {
    line-height: 50px;
    font-size: 22px;
  }

  footer {
    font-size: 24px;
    line-height: 1.4;
  }
}

@media (min-width: 1024px) {
  header {
    background-position: center bottom;
  }
  .container {
    max-width: 1088px;
  }

  .headerTitle h1 {
    font-size: 82px;
  }

  .headerContainer img {
    height: 280px;
    width: 280px;
  }

  .text {
    padding: 80px 30px;
    font-size: 24px;
  }

  .projects {
    padding: 30px;
    font-size: 20px;
  }
}
